//Colores
$verde: #349641;
$amarillo: #ffbb00;
$azul: #0c8891;
$sombra: rgba(0, 0, 0, 0.5);
$transparencia: rgba(255, 255, 255, 0.6);

//Mixins
@mixin cuadros {
    margin-bottom: 20px;
    background-color: $transparencia;
    box-shadow: 2px 2px 10px $sombra;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    h2 {
        background-color: $azul;
        color: white;
        text-align: center;
        padding: 20px;
        width: 100%;
    }
    p {
        margin: 40px;
    }
}

* {
    margin: 0;
    font-family: "Varela Round", sans-serif;
}

body {
    background-image: url("../img/blackboard.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    .cabecera {
        position: sticky;
        top: 0;
        background-color: $verde;
        color: white;
        text-align: center;
        padding: 40px;
    }
    .central {
        margin: 40px 40px 0px 40px;
        display: flex;
        flex-flow: column nowrap;
        @for $i from 1 through 5 {
            div:nth-child(#{$i}) {
                @include cuadros;
            }
        }
    }
    .inferior {
        @include cuadros;
        margin: 0px 40px 40px 40px;
        p {
            margin: 40px;
        }
    }

    .btn {
        padding: 10px;
        cursor: pointer;
        border-radius: 10px;
        margin-bottom: 30px;
        font-size: 16px;
        font-weight: 700;
        &:focus {
            outline: none;
        }
        &:hover {
            background-color: $amarillo;
            color: white;
        }
    }
}

//desktop
@media (min-width: 1200px) {
    .container {
        .central {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            div:nth-child(1) {
                margin-bottom: 0px;
            }
            div:nth-child(2) {
                margin-bottom: 0px;
            }
        }
    }
}